ENVIRONMENT_NAME=local
# ENVIRONMENT_NAME=production

ALLOW_ORIGINS_LOCAL="http://localhost:5173"
ALLOW_ORIGINS_PRODUCTION="your-ip,frontend-url"

# The 1st key is reserved for testing
API_KEYS_LOCAL = "*,*"
API_KEYS_PRODUCTION = "*,*"

PSQL_DB_HOST_LOCAL=*
PSQL_DB_PORT_LOCAL=5432
PSQL_DB_NAME_LOCAL=purchasing_power
PSQL_DB_READ_ONLY_USER_LOCAL=read_only
PSQL_DB_READ_ONLY_PASSWORD_LOCAL=*

PSQL_DB_HOST_PRODUCTION=*
PSQL_DB_PORT_PRODUCTION=5432
PSQL_DB_NAME_PRODUCTION=purchasing_power
PSQL_DB_DATAFLOW_USER_PRODUCTION=dataflow
PSQL_DB_DATAFLOW_PASSWORD_PRODUCTION=*
PSQL_DB_READ_ONLY_USER_PRODUCTION=read_only
PSQL_DB_READ_ONLY_PASSWORD_PRODUCTION=*
